body {
  //margin-top: 100px;
}

.hp-section {
  min-height: 400px;
  position: relative;
  z-index: 20;
  @include BoxShadowHelper(2);

  .hp-section-image {
    max-width: 100%;
    border: 2px solid #FFF;
    @include BoxShadowHelper(2);
  }

  iframe {
    max-width: 100%;
  }

  .content {
    padding-bottom: 80px;
  }
}

h1 {
  //text-transform: uppercase;
  //letter-spacing: -1px;
  font-size: 3.75em;
  font-family: "Alex Brush";
  font-weight: 400;
  text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hp-section {
  color: #FFF;
  font-size: 1.75em;
  background-size: cover;
  background-position: center center;

  h2 {
    @extend h1;
    font-size: 3.75em;
    padding-top: 160px;
  }

  .hp-section-button {
    display: inline-block;
    margin: 0 auto;
    font-size: 1em;
    padding: 0.5em 1em;
    color: $brand-primary;
    text-transform: uppercase;
    letter-spacing: -1px;
    background: $grey-200;
    border-radius: 3px;
    transition: all $transition-timing $transition-easing;
    @include BoxShadowHelper(2);

    &:hover {
      background: $grey-50;
      text-decoration: none;
      transform: translateY(-2px);
      @include BoxShadowHelper(3);
    }

    &:focus {
      text-decoration: none;
      background: #FFF;
    }
  }
}

.hp-section-hero {
  background: url(../../assets/images/hh-hero.jpg) 50% 50% no-repeat;
  background-size: cover;
  .content {

  }

  .hp-section-hero-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(#FFF, 0.5);
  }

  .hp-section-hero-content {
    position: absolute;
    left: 33%;
    bottom: 33%;
    width: 50%;
    transform: translate(-50%, 50%);

    color: $brand-primary;
    font-size: 2.6em;
    line-height: 1.2;
    text-align: center;

    p {
      text-align: left;
    }
  }
}

.hp-section-hlc {
  background: url(../../assets/images/hh-hlc-hero.jpg) 50% 50% no-repeat;
  background-size: cover;
  z-index: 19;
}
  .hp-section-hlc-wrap {
    background: rgba($color-hlc, 0.8);
  }

.hp-section-shelter {
  background: url(../../assets/images/hh-shelter-hero.jpg) 50% 50% no-repeat;
  background-size: cover;
  z-index: 18;
}

  .hp-section-shelter-wrap {
    background: rgba($color-shelter, 0.8);
  }

.hp-section-housing {
  background: url(../../assets/images/hh-housing-hero.jpg) 50% 50% no-repeat;
  background-size: cover;
  z-index: 17;
}

  .hp-section-housing-wrap {
    background: rgba($color-housing, 0.8);
  }

.hp-section#contact {
  background: #eceff1;
  color: #424242;
}
