// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$color-hlc:             #004d40;
$color-shelter:         #d32f2f;
$color-housing:         #827717;

// Navbar
$navbar-height:         80px;
$navbar-default-bg:     rgba(#FFF,0.9);
$navbar-default-border: none;

// Fonts
$font-family-sans-serif:  "Roboto Condensed", "Helvetica Neue", Helvetica, sans-serif;
$headings-font-weight:    700;
