// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #1a237e;
$color-hlc:             #004d40;
$color-shelter:         #d32f2f;
$color-housing:         #827717;

$grey-50:               #FAFAFA;
$grey-100:              #F5F5F5;
$grey-200:              #EEEEEE;
$grey-300:              #E0E0E0;

// Navbar
$navbar-height:         80px;
$navbar-default-bg:     rgba(#FFF,0.9);
$navbar-default-border: none;

// Fonts
$font-family-sans-serif:  "Roboto Condensed", "Helvetica Neue", Helvetica, sans-serif;
$headings-font-weight:    700;

$transition-timing:     0.15s;
$transition-easing:     ease-out;
